.block-view {
    display: flex;
}

.inline-view {
    display: inline-flex;
}

.block-view,
.inline-view {
    cursor: pointer;
}

.block-view:hover,
.inline-view:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 2px;
}

.title {
    display: inline-block;
    flex: 1;
    padding: 0 0.2em;
    font-size: 12px;
    line-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
