.item {
    display: block;
    margin: 1em 0;
}

.radio-button {
    width: 1.5em;
    height: 1.5em;
}

.item-children {
    display: inline-block;
    margin-left: 0.5em;
    line-height: 1.5em;
    vertical-align: middle;
}
