<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/styles/option.css">
</head>
<body>
	<h1>Q Bookmarks</h1>
	<p>
		This extension is created by
		<a href="http://twitter.com/chick307">chick307</a>.
	</p>
	<p>
		You can fork this extension on
		<a href="https://github.com/Chick307/Q-Bookmarks">
			github</a>.
	</p>

	<script>
		document.addEventListener('click', function(e){
			if(e.target.href){
				window.open(e.target.href);
				e.preventDefault();
			}
		}, false);
	</script>
</body>
</html>

