<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="/styles/option.css">
	<style>
		span {
			display: inline-block;
			margin: 0 0.5em;
			padding: 0 0.5em;
			border-radius: 3px;
			background: linear-gradient(top, #0C0, #0A0);
			background: -webkit-linear-gradient(top, #2C2, #2A2);
			color: #FFF;
			text-shadow: -1px -1px 0 #2A2;
			opacity: 0;
			transition: opacity 0.1s;
			-webkit-transition: opacity 0.1s;
		}

		span.saved {
			opacity: 1;
		}

		li > br + input {
			margin-left: 3em;
		}
	</style>
</head>
<body>
	<h1>Behavior</h1>
	<ul>
		<li><label for="open-in-box">left-click opens bookmark in</label>
		<select id="open-in-box">
			<option value="1">current tab</option>
			<option value="2">new tab</option>
		</select>
		<span id="open-in-msg">saved</span>
		<li><label for="mc-open-in-box">middle-click opens bookmark in</label>
		<select id="mc-open-in-box">
			<option value="1">current tab</option>
			<option value="2">new tab</option>
		</select>
		<span id="mc-open-in-msg">saved</span>
		<li><input type="checkbox" id="hide-other-bookmarks-box">
		<label for="hide-other-bookmarks-box">Hide &quot;Other Bookmarks&quot; folder</label>
		<span id="hide-other-bookmarks-msg">saved</span></br>
		<input type="checkbox" id="hide-other-bookmarks-if-empty-box">
		<label for="hide-other-bookmarks-if-empty-box">if empty</label>
		<span id="hide-other-bookmarks-if-empty-msg">saved</span>
	</ul>

	<h1>Appearance</h1>
	<ul>
		<li><label for="font-family-box">font family</label>
		<select id="font-family-box">
			<option value="serif">Serif</option>
			<option value="sans-serif">Sans Serif</option>
			<option value="cursive">Cursive</option>
			<option value="fantasy">Fantasy</option>
			<option value="monospace">Monospace</option>
		</select>
		<span id="font-family-msg">saved</span>
		<li><label for="icon-size-box">icon size</label>
		<select id="icon-size-box">
			<option value="16">16 x 16</option>
			<option value="20">20 x 20</option>
			<option value="24">24 x 24</option>
		</select>
		<span id="icon-size-msg">saved</span>
	</ul>

	<h1>Search</h1>
	<ul>
		<li><input type="checkbox" id="search-box-enabled">
		<label for="search-box-enabled">enable search box</label>
		<span id="search-box-enabled-msg">saved</span></br>
	</ul>

	<script type="text/javascript">
		var backgroundPage = chrome.extension.getBackgroundPage();
		var pref = backgroundPage.pref;


		var openInBox = Q('#open-in-box');
		openInBox.value = pref.get('open-in');
		openInBox.addEventListener('change', function(){
			pref.set('open-in', openInBox.value);

			var msg = Q('#open-in-msg');
			onSaved(msg);
		}, false);


		var mcOpenInBox = Q('#mc-open-in-box');
		mcOpenInBox.value = pref.get('mc-open-in');
		mcOpenInBox.addEventListener('change', function(){
			pref.set('mc-open-in', mcOpenInBox.value);

			var msg = Q('#mc-open-in-msg');
			onSaved(msg);
		}, false);


		var hideOtherBookmarksBox = Q('#hide-other-bookmarks-box');
		hideOtherBookmarksBox.checked = pref.get('hide-other-bookmarks');
		hideOtherBookmarksBox.addEventListener('change', function(){
			pref.set('hide-other-bookmarks', this.checked);
			hideOtherBookmarksIfEmptyBox.disabled = !this.checked;

			var msg = Q('#hide-other-bookmarks-msg');
			onSaved(msg);
		}, false);


		var hideOtherBookmarksIfEmptyBox =
			Q('#hide-other-bookmarks-if-empty-box');
		hideOtherBookmarksIfEmptyBox.checked =
			pref.get('hide-other-bookmarks-if-empty');
		if(!hideOtherBookmarksBox.checked)
			hideOtherBookmarksIfEmptyBox.disabled = true;
		hideOtherBookmarksIfEmptyBox.addEventListener('change', function(){
			pref.set('hide-other-bookmarks-if-empty', this.checked);

			var msg = Q('#hide-other-bookmarks-if-empty-msg');
			onSaved(msg);
		}, false);


		var fontFamilyBox = Q('#font-family-box');
		fontFamilyBox.value = pref.get('font-family');
		fontFamilyBox.addEventListener('change', function(){
			pref.set('font-family', fontFamilyBox.value);

			var msg = Q('#font-family-msg');
			onSaved(msg);
		}, false);


		var iconSizeBox = Q('#icon-size-box');
		iconSizeBox.value = pref.get('icon-size');
		iconSizeBox.addEventListener('change', function(){
			pref.set('icon-size', iconSizeBox.value);

			var msg = Q('#icon-size-msg');
			onSaved(msg);
		}, false);


		var searchBoxEnabled = Q('#search-box-enabled');
		searchBoxEnabled.checked = pref.get('search-box-enabled');
		searchBoxEnabled.addEventListener('change', function(){
			pref.set('search-box-enabled', searchBoxEnabled.checked);

			var msg = Q('#search-box-enabled-msg');
			onSaved(msg);
		}, false);


		var timeouts = {};
		function onSaved(msg){
			if(msg.id in timeouts){
				clearTimeout(timeouts[msg.id]);
				msg.classList.remove('saved');
				timeouts[msg.id] = setTimeout(function(){
					setSaved();
				}, 100);
			}else{
				setSaved();
			}

			function setSaved(){
				msg.classList.add('saved');
				timeouts[msg.id] = setTimeout(function(){
					msg.classList.remove('saved');
					delete timeouts[msg.id];
				}, 1600);
			}
		}


		window.addEventListener('pref-changed', function(event){
			var key = event.key, value = event.value;

			if(key === 'open-in' && openInBox.value !== value){
				openInBox.value = event.value;
			}else if(key === 'font-family' && fontFamilyBox.value !== value){
				fontFamilyBox.value = value;
			}else if(key === 'icon-size' && iconSizeBox.value !== value){
				iconSizeBox.value = event.value;
			}
		});

		function Q(selector){
			return document.querySelector(selector);
		}
	</script>
</body>
</html>

