
[data-scrollbar] {
	overflow-x: hidden;
	overflow-y: scroll;
}

[data-scrollbar]::-webkit-scrollbar {
	width: 0;
	height: 0;
}

.scrollbar {
	display: block;
	position: relative;
}

.scrollbar-thumb {
	position: absolute;
}

.hidden-scrollbar {
	display: none;
}

